/* 
@font-face {
    font-family: extended;
    src: url(../../styles/fonts/RFDewiExtended-Black.ttf);
}

@font-face {
    font-family: regular;
    src: url(../../styles/fonts/RFDewi-Regular.ttf);
} */
.spacer5 {
    height: 95px;
}

.mainpagesection2 {
    display: flex;
    flex-direction: row;
}

.faq>ul {
    padding: 0;
    width: 100%;
}

.faqTitle {
    margin: 0;
    margin-bottom: 44px;
}

.faq>ul>li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.faq>ul>li>a>img {
    margin: 1rem;
}



.faq {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 48px;
    padding: 126px 120px;
}

footer.nasheDeloFooter {
    display: block;
    background: #001529;
    min-height: 10rem;
    border-radius: 80px 80px 0px 0px;
}

footer.nasheDeloFooter::before {
    content: "© I PRO. MoscowCityHack 2022";
    visibility: visible;
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
    top: -2rem;
    color: #9CA7C9;

}


.main-page-section-2 {
    display: flex;
    flex-direction: row;
}

.section2section {
    width: 100%;
    max-width: 500px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    margin-right: 54px;
    padding-bottom: 5rem;
}

.section2section .title,
.faqTitle {
    font-family: extended;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    background: linear-gradient(28.9deg, #001529 11.79%, #274B6E 92.08%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section2section .description {
    color: #515151;
    margin: 32px 0px 48px 0px;
    font-family: regular;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
}

.section2image {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2image>img {
    width: 100%;
    max-width: 500px;
}

.section1buttons {
    margin-top: 42px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mainpagebtnblack,
.mainpagebtnfilled,
.mainpagebtnempty {
    font-family: regular;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    padding: 10px 74px;
    
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.35s ease-in-out;
}



.mainpagebtnfilled {
    background-color: #2892F4;
    border: 1px solid #2892F4;
    color: white;
    margin-right: 1rem;
}

.mainpagebtnfilled:hover {
    background-color: transparent;
    color: #262626;

}

.main-page-btn-empty:hover {
    background-color: #2892F4;
    color: white;

}

.main-page-btn-empty {
    background-color: transparent;
    border: 1px solid #1890FF;
    color: #262626;
}

.main-page-btn-black {
    background-color: black;
    border: 1px solid black;
    color: white;
    margin-right: 1rem;
}


.pageContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* max-width: 1220px; */
    padding: 0 126px;
}

.section1bars,
.section1barandsection {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.pageContent>* {
    max-width: 1220px;
    width: 100%;
}

.flexSpacer {
    width: 100%;
    max-width: 2rem;
}

.bar {
    padding: 70px 60px;
    background-color: white;
    border-radius: 52px;
    font-family: extended;
}

.bar.nashe {
    max-width: 600px;
    flex-grow: 1;
    font-family: extended;
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
    margin: 22px;
    margin-left: 0;
}

.bar.vmeste {
    flex-shrink: 1;
    width: fit-content;
    font-family: regular;
    font-size: 72px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
    margin: 22px;
    margin-right: 0;
    margin-left: 0;
}

.bar.bolshe {
    max-width: 700px;
    width: 100%;
    font-family: regular;
    font-size: 72px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
    margin: 22px;
    margin-left: 0;
}

.section1section {

    color: #515151;
    max-width: 237px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    font-family: 'regular';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

}

.mainPageSection1 {
    display: flex;
    flex-direction: column;
}

.spacer5 {
    height: 95px;
}

.mainBody {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mainBody {
    background: #EFF1FB;
}

.navigation-panel__wrapper {
    background-color: #001529;
    margin: 0 40px;
    border-radius: 0 0 16px 16px;
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navigationPanel {
    width: 100%;
    max-width: 1220px;
    margin: 0 40px;
    border-radius: 0 0 16px 16px;
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
}

.navigationPanel>* {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigationPanelItem.navigationPanelItemLogo {
    /* TODO: Подключить фонт */
    font-family: extended;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}


.navigationPanelItem.search {
    position: relative;
    margin: 0 24px;
    padding: 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 40px;
}

.navigationPanelItem.search>input {
    height: 100%;
    padding-right: 20px;
    padding-left: 12px;
    border: 1px solid #7D7D7D;
    background-color: #001529;
    border-radius: 4px;
    color: white;
    font-family: 'regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}


.navigationPanelItem.search a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigationPanelItem.search>*>img {
    position: absolute;
    right: 10px;
}

.navigationPanelSpacer {
    flex-grow: 1;
}

.navigationPanelItem {
    /* width: 100%; */
    font-size: 16px;
    color: white;
    background-color: #001529;
    padding: 6px 12px;
    border-radius: 8px;
    font-weight: 300;
    font-family: regular;
}

.navigationPanelItem.navigationPanelItemSelected {
    background-color: #152A3F;
    font-weight: 400;
}

.navigationPanelLogin,
.navigationPanelRegister {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 1px 8px 3px 8px;
}

.navigationPanelRegister {
    margin-left: 16px;
}

.navigationPanelItem.navigationPanelLogin {
    font-weight: 400;
    background-color: #2892F4;
    border: 1px solid #2892F4;
}

.navigationPanelItem.navigationPanelRegister {
    font-weight: 400;
    background-color: #001529;
    border: 1px solid #7D7D7D;
}

/* search {
    display: flex;
    flex-direction: row;
} */