.pageContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
}

.spacerFive {
    height: 5rem;
}

.spacerFiveFive {
    height: 55rem;
}
.flexAlignColumn {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flexAlignColumn > * {
    width: 100%;
}
.organizationRows {
    display:flex;
    flex-direction: row;
    padding: 3em;
}
.navigationMenu {
    display:block;
    height: 639px;
    min-width: 260px;
}
.sidebar{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.myEventsColumn {
    display:block;
    flex-grow: 1;
}
.big{
    font-size: 36px;
    font-family: extended;
    color: #262626;
    margin-left: 2em;
}
.add{
    box-shadow: 0px 11px 24px -10px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    background-color: #ffffff;
    width: 160px;
    height: 39px;
    padding-top: 0.5em;
}
.spacebtw{
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    text-align: center;
}